/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

html body {
  background-color: #000;
    color: #fff;
}

.refresh{
	margin: 0 auto;
	position: relative;
	height: 100px;
	width: 100px;
	padding: 0;
}

.fam{

	width: 400px;
	height: 400px;
	margin: 100px auto 0 auto;
	position: relative;
	border: 1px solid white;
}
.fam h3{
	text-align: center;
}

.fam img{

	width: 100%;
}
