html body {
  	background-color: #000;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
}

.refresh{
	margin: 0 auto;
	position: relative;
	height: 100px;
	width: 100px;
	padding: 0;
}
.refresh_text{
	font-size: 28px;
	color: white;
	font-weight: 300;
}

.fam{

	width: 400px;
	height: 400px;
	margin: 100px auto 0 auto;
	position: relative;
	border: 1px solid white;
}
.fam h3{
	text-align: center;

}

.fam img{

	width: 100%;
}